benchmarks/
llava_model_weights/
LLaVA_old/
train_datasets/
nltk_data/
testing_res/
trained_mm_projections/
visual_genome/
haloc/
head_checkpoints/
evidence_head_train_datasets/
large_image_datasets/
