benchmarks/
llava_model_weights/
LLaVA_old/
train_datasets/
nltk_data/
testing_res/
trained_mm_projections/
halu_detection_mitigation/
evidence_head_train_datasets/
hal_detection_head_train_datasets/
haloc/
head_checkpoints/
large_image_datasets/
visual_genome/
total_flow_testing_results/
evidence_head_test_datasets/